<div *ngIf="isOut; else outingForm">
    Data is recorded! Check the outing list!
    <a href="outing" class="btn btn-success">Show All Outing List</a>
</div>  
<ng-template #outingForm>
    <div class="row col-sm-6" style="max-width:350px;">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        
        <div>
          <h4> Add Outing Details </h4>
        </div>
        
        <div class="form-group">
            <label for="id">Student ID</label>
            <input type="number" class="form-control" name="id" [(ngModel)]="form.id" #id="ngModel" required />
            <div *ngIf="f.submitted && id.invalid">
              <div *ngIf="id.errors.required">Student ID is required</div>
            </div>
          </div>

        <div class="form-group">
          <label for="name">Student Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="form.name" #name="ngModel" required />
          <div *ngIf="f.submitted && name.invalid">
            <div *ngIf="name.errors.required">Name is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
          <div *ngIf="f.submitted && email.invalid">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        
        <div class="form-group">
            <label for="day">Day</label>
            <input type="text" class="form-control" name="day" [(ngModel)]="form.day" #day="ngModel" required />
            <div *ngIf="f.submitted && day.invalid">
              <div *ngIf="day.errors.required">Day is required</div>
            </div>
        </div>

        <div class="form-group">
          <label for="duration">Duration</label>
          <input type="number" min="0" step="0.1" class="form-control" name="duration" [(ngModel)]="form.duration" #duration="ngModel" required />
          <div *ngIf="f.submitted && duration.invalid">
            <div *ngIf="duration.errors.required">Duration is required</div>
          </div>
        </div>

        <div class="form-group">
            <label for="reason">Reason</label>
            <input type="text" class="form-control" name="reason" [(ngModel)]="form.reason" #reason="ngModel" required />
            <div *ngIf="f.submitted && reason.invalid">
              <div *ngIf="reason.errors.required">Reason is required</div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="outgoingtime">Outgoing Time</label>
            <input type="time" class="form-control" name="outgoingtime" [(ngModel)]="form.outgoingtime" #outgoingtime="ngModel" required />
            <div *ngIf="f.submitted && outgoingtime.invalid">
              <div *ngIf="outgoingtime.errors.required">Outgoing Time is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="returningtime">Returning Time</label>
            <input type="time" class="form-control" name="returningtime" [(ngModel)]="form.returningtime" #returningtime="ngModel" required />
            <div *ngIf="f.submitted && returningtime.invalid">
              <div *ngIf="returningtime.errors.required">Returning Time is required</div>
            </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary">Submit</button>
          <div *ngIf="f.submitted && isOutingFailed" class="alert alert-warning">
            Outing record failed!<br/>{{errorMessage}}
          </div>
        </div>
      </form>
      <a href="outing" class="btn btn-success">Show All Outing List</a>
    </div>
  </ng-template>