
<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Day</th>
            <th scope="col">Duration</th>
            <th scope="col">Message</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of permissionlist">
            <td>{{ user.pid }}</td>
            <td>{{ user.name }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>{{ user.day }}</td>
            <td>{{ user.duration }}</td>
            <td>{{ user.msg}}</td>
            <td>{{ user.status}}</td>
            <div>
              <button (click)="callFunction1($event, user.pid)" class="btn btn-success" >Accept</button>   
           /
                <button (click)="callFunction2($event, user.pid)" class="btn btn-danger" >Deny</button>   
             </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  