<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Day</th>
            <th scope="col">Duration</th>
            <th scope="col">Out Time</th>
            <th scope="col">In Time</th>
            <th scope="col">Reason</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of outinglist">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>{{ user.day }}</td>
            <td>{{ user.duration }}</td>
            <td>{{ user.outgoingtime }}</td>
            <td>{{ user.returningtime }}</td>
            <td>{{ user.reason}}</td>
            <td><a href="outingupdate" class="btn btn-info">Update</a>
          </tr>
        </tbody>
      </table>
    </div>
  </div>